<div class="dashboard">
    <section class="main-content">
        <div class="card">
            <div class="photoContainer">
                <img src="<%= src%>" alt="<%= src%>">
            </div>
            <h2>Card 1</h2>
            <p>This is some content for Card 1.</p>
        </div>
        <div class="card">
            <div class="photoContainer">
                <img src="<%= src%>" alt="<%= src%>">
            </div>
            <h2>Card 1</h2>
            <p>This is some content for Card 1.</p>
        </div>
        <div class="card">
            <div class="photoContainer">
                <img src="<%= src%>" alt="<%= src%>">
            </div>
            <h2>Card 1</h2>
            <p>This is some content for Card 1.</p>
        </div>

        <div class="card">
            <div class="photoContainer">
                <img src="<%= src%>" alt="<%= src%>">
            </div>
            <h2>Card 1</h2>
            <p>This is some content for Card 1.</p>
        </div>
    </section>
</div>