<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('common/head.ejs', { title: 'BARWADIH' }) %>
</head>

<body>
    <header>
        <%- include('common/header.ejs', { heading: 'BARWADIH' }) %>
    </header>
    <%-include('common/navbar.ejs')-%>
    <%-include('common/body.ejs', { src: '/photo/d1.png' })-%>
</body>
<footer>
    <%-include('common/footer.ejs')-%>
</footer>

</html>